//SASS SCSS Color Variables

/* Coolors Exported Palette - coolors.co/3d348b-7678ed-f7b801-f18701-f35b04 */
/* HSL */
$color1: hsla(354%, 67%, 52%, 1);
$color2: hsla(212%, 88%, 58%, 1);
$color3: hsla(22%, 100%, 60%, 1);
$color4: hsla(250%, 39%, 45%, 1);
$color5: hsla(124%, 45%, 38%, 1);
$color_text: lightgrey;

$color_background: $color2;
$color_font: $color_text;
$color_background_login: $color2;
$color_chat1: white;
$color_chat2: $color_background;
$color_chat3: black;
$color_chat4: lightgrey;
//END SASS CSCC Color Varaibles


//HEADER FOOTER Inheritance

%header_footer_size {
  padding: 15px 15px 50px 15px;
  color: $color_font;
  background-color: $color_background;
}

footer {
  @extend %header_footer_size;
  height: 6vh;
}

header {
  @extend %header_footer_size;
  font-size: 1.5em;
  height: 3vh;
}

//END HEADER AND FOOTER




a {
  color: $color_text;
}

a:hover {
  color: orange;
  text-decoration: none;
}


p {
  text-align: justify;
  margin: 0px;
}

.card_element {
  margin: 0px;
}

.card-header {
  font-size: 120%;
  font-weight: 900;
  color: white;
  background-color: darkblue;
}

//Creates margins between specifc form elements
input[type=text]{
  margin-bottom: 5px;
 }

#body_block, #frm_dispname {
  margin-top: 13vh;
  margin-bottom: 4vh;
}

#main_window {
  height:75vh;
}

#frm_dispname {
  background-color: $color_background_login;
  color: $color_font;
  padding: 10px;
}

.self_chatbox {
  background-color: $color_chat2;
  color: $color_chat1;
}

.other_chatbox {
  background-color: $color_chat4;
  color: $color_chat3;
}
