/* Coolors Exported Palette - coolors.co/d63141-378ef2-ff7f35-5546a0-368e3c */

/* HSL */
$color1: hsla(354%, 67%, 52%, 1);
$color2: hsla(212%, 88%, 58%, 1);
$color3: hsla(22%, 100%, 60%, 1);
$color4: hsla(250%, 39%, 45%, 1);
$color5: hsla(124%, 45%, 38%, 1);

/* RGB */
$color1: rgba(214, 49, 65, 1);
$color2: rgba(55, 142, 242, 1);
$color3: rgba(255, 127, 53, 1);
$color4: rgba(85, 70, 160, 1);
$color5: rgba(54, 142, 60, 1);