<!DOCTYPE html>
<html>

  <head>
    <title>Chatterbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS_project2.css') }}">
    <script src="{{ url_for('static', filename='project2.js') }}"></script>
  </head>


  <body>

    <!-- HEADER -->
    <header class="row justify-content-center fixed-top">
      <section class="col-6"><a href="{{ url_for('index') }}">Chatterbox</a></section>

        <section class="col-6" align="right">

          <!-- If display name has been set in location storage... -->
          <div hidden id="txt_dispname"></div>


          <!-- <form hidden id="frm_dispname" >
            <input type="text" id="txtinput_dispname" autocomplete="off" autofocus placeholder="enter display name">
            <button type="submit" id="btn_dispname" disabled=true>Set</button>
          </form> -->

        </section>


    </header>
    <!-- end HEADER -->

    <!-- BODY BLOCK - WHEN NOT REGISTERED -->
    <!-- If no display name has been set in local storage-->
    <div class="container col-4 form-group" id="register_block">
      <form id="frm_dispname" >
        <h5>Create a display name to continue.</h5>
        <input type="text" id="txtinput_dispname" autocomplete="off" autofocus placeholder="enter display name">
        <button type="submit" id="btn_dispname" disabled=true>Set</button>
      </form>
    </div> <!-- END CONTAINER -->
    <!-- END BODY BLOCK - WHEN NOT REGISTERED -->



    <!-- BODY BLOCK - WHEN REGISTERED -->
    <div hidden id="body_block" class="container-fluid"> <!-- MAIN WINDOW -->

      <div id="main_window" class="row border"> <!-- MAIN WINDOW ROW -->


          <div class="border border-primary mx-2" style="min-width: 16rem"> <!-- LEFT COLUMN - CHANNELS -->

            <!-- ADD NEW CHANNEL INPUT BOX -->
            <div class="row">
              <form id="frm_add_channel" class="mx-auto">
                <div class="input-group mb-3">
                  <input type="text" id="txt_add_channel" class="form-control" placeholder="new channel name">
                  <div class="input-group-append">
                    <button type="submit" id="btn_add_channel" class="btn btn-success">Add</button>
                  </div>
                </div> <!-- END INPUT GROUP -->
              </form>
            </div> <!-- END ROW -->
            <!-- END - ADD NEW CHANNEL INPUT BOX -->

              <!-- CHANNEL LISTING -->
              <div id="channel_listing" style="overflow: scroll; height:65vh;">
              </div>
              <!-- END CARD-GROUP for CHANNEL_LISTING-->

          </div> <!-- LEFT COLUMN - CHANNELS -->





        <!-- CHAT BOX COLUMN -->
        <div class="container border border-primary ml-1 mr-0" style="min-width: 20rem; max-width: 50rem"> <!-- RIGHT COLUMN - CHAT -->

            <!-- ROW FOR ALL CHAT HEADER -->
            <div class="container mb-2 border-bottom">
              <div class="row mx-2 mt-4 mb-2">
                <div id="chat_header1" class="col-5 rounded">
                THIS IS THE CHAT HEADER
                </div>
                <div id="chat_header2" class="col-3 rounded mx-1">
                AUX1
                </div>
                <div id="chat_header3" class="col-3 rounded">
                AUX2
                </div>
              </div>
            </div>
            <!-- END ROW FOR ALL CHAT HEADER -->


            <!-- ROW FOR ALL CHAT ELEMENTS -->
            <!-- <div class"row">  -->
              <div id="chat_listing" class="container mb-2" style="overflow: scroll; height:55vh;">
              </div>
            <!-- </div>  -->
            <!-- ROW FOR ALL CHAT ELEMENTS -->

          <!-- ROW FOR CHAT POST -->
          <div class="row">
            <div class="col align-self-end">
              <!-- TODO: Does this need to be a form??? -->
              <form id="frm_add_post">
                <div class="input-group mb-3">
                  <input type="text" id="txt_add_post" class="form-control" placeholder="add message ... ">
                  <div class="input-group-append">
                    <button type="submit" id="btn_add_post" class="btn btn-success">Post</button>
                  </div>
                </div> <!-- END INPUT GROUP -->
              </form>

          </div>
          <!-- END ROW FOR CHAT POST -->

          </div>
          <!-- ROW FOR CHAT POST -->

        </div>
        <!-- CHAT BOX COLUMN -->

      </div> <!-- MAIN WINDOW ROW -->

      </div>
      <!-- MAIN WINDOW ROW -->

    </div>
    <!-- MAIN WINDOW -->







    <!-- END BODY BLOCK -->


    <!-- FOOTER -->
    <footer class="row justify-content-center fixed-bottom">
      <section class="col-6">created by Mark McDonald</section>
      <section class="col-5" align="right">
        Right Aligned Footer
      </section>
    </footer>
    <!-- end FOOTER -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
  </body>


</html>
