<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS_project2.css') }}">
  </head>




  <body>


    <!-- HEADER -->
    <header class="row justify-content-center fixed-top">
      <section class="col-6"><a href="{{ url_for('index') }}">Chatterbox</a></section>
      {% if session["user_session"] is defined() %}
        <section class="col-5" align="right">
          Welcome, {{ session["user_session"][1] }}!
          <a href="{{ url_for('logout') }}">[Logout]</a>
        </section>
      {% else %}
        <section class="col-6 mx-auto">
          <form id="disp_name_form" >
            <span>Provide a display name:</span>
            <!-- <input type="text" class="form-row col-auto form-control-sm" name="disp_name" placeholder= "enter display name"> -->
            <input type="text" id="disp_name" autocomplete="off" autofocus placeholder="display name">
          </form>
        </section>
      {% endif %}
    </header>
    <!-- end HEADER -->



    <!-- BODY BLOCK -->
        {% block body %}
        {% endblock %}
    <!-- END BODY BLOCK -->

    <!-- FOOTER -->
    <footer class="row justify-content-center fixed-bottom">
      <section class="col-6">created by Mark McDonald</section>
      <section class="col-5" align="right">
        Right Aligned Footer
      </section>
    </footer>
    <!-- end FOOTER -->
  </body>


</html>
